@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.582);
    color: black;
}

a:hover {
    font-weight: bolder;
    background-color: white;
    transition: .3s;
}
