@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') top center no-repeat fixed;
    background-size: cover;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-phone.png') no-repeat;
    width: 340px;
    height: 640px;
}

iframe#tela {
    position: relative;
    top: 62px;
    left: 22px;
    width: 296px;
    height: 516px;
    border-radius: 5px;
}

section#social {
    text-align: right;
    padding: 10px;
}

section#social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
    box-sizing: border-box;
}

section#social img:hover {
    border: 2px solid burlywood;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transform: translate(-2px, -2px);
    transition: transform .5s, border .1s;
}