@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #000000;
    --cor2: #ffffff;
    --cor3: #01120179;
    --font-1: 'Passion One', cursive;
    --font-2: 'Verdana', sans-serif;
    --font-3: 'Sriracha', cursive;
}

header {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor2);
}

header h1 {
    font-family: var(--font-1);
    font-size: 7vw;
    padding-top: 50px;
}

header p {
    font-family: var(--font-2);
    color: var(--cor2);
    padding-bottom: 50px;
}

header a {
    color: var(--cor2);
    font-weight: bold;
    font-family: var(--font-2);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font-3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: var(--cor2);
    color: var(--cor1);
}

section.imagem {
    color: var(--cor2);
    background-color: var(--cor1);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: var(--cor3);
    width: 43.1vw;
    text-shadow: 1px 1px 3px black;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

section#img2 p {
    width: 44vw;
}

footer {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor2);
    padding: 10px;
    font-family: var(--font-2);
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}